.contacts {
	text-align: center;
	padding-block: 56px 62px;
}

.contacts__title {
	margin-bottom: 74px;
}

.contacts__link {
	font-size: 24px;
	color: var(--color-light);
	background-color: var(--color-dark);
	padding: 6px 12px;
	margin-bottom: 38px;
	border-radius: 50px;
	border: 1px solid transparent;
}

.contacts__link:hover {
	color: var(--color-dark);
	background-color: var(--color-light-alt);
	border-color: currentColor;
}

.soc1als {
	display: flex;
	justify-content: center;
	column-gap: 30px;
	margin-bottom: 34px;
}

.soc1als__icon {
	width: 66px;
	aspect-ratio: 1;
}

.soc1als__icon:hover {
	fill: var(--color-gray);
}

.contacts__copyright {
	font-size: 16px;
	color: var(--color-gray);
	max-width: 260px;
	display: inline-block;
}

@media (max-width: 992px) {
	.contacts__title {
		margin-bottom: 76px;
	}
}

@media (max-width: 768px) {
	.contacts {
		padding-block: 58px 88px;
	}

	.contacts__title {
		margin-bottom: 78px;
	}
}

@media (max-width: 576px) {
	.contacts {
		padding-block: 60px 126px;
	}

	.contacts__title {
		margin-bottom: 80px;
	}

	.contacts__link {
		margin-bottom: 40px;
	}

	.soc1als {
		column-gap: 25px;
		margin-bottom: 42px;
	}

	.soc1als__icon {
		width: 56px;
		aspect-ratio: 1;
	}
}
